#header {
  border-bottom: 0.625px solid #06604e;
}

h4 {
    color: #06604e;
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 0;
}

#button{
  width: 200px;
  margin-top: 15px;
  font-weight: 900;
}

#information{
    font-size: 14px;
    font-weight: 600;
}

#result {
    border-radius: 15px;
    border: 0.625px solid #06604e;
    padding: 6px;
    text-align: center;
    color: #06604e;
    font-weight: 900;
    margin-top: .5rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}